<div style="text-align:center; align-items:center; background-color: #140f07">
    <h3 style="color: #c9f3f7;;">Inicio de sesión</h3>
<input placholder="User name"/>


    <h3 style="color: #c9f3f7;">Contraseña</h3>
<input placholder="Password" type="password" />
</div>

