<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:#1b2838">

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card bg-dark text-white p-4">
                    <h2 class="text-center">Iniciar Sesión</h2>
                    <form>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" placeholder="Ingrese su correo">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
                        </div>
                        <button href="Tienda" type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="#" class="text-white">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div class="text-center mt-3">
                        <a href="Registro" class="text-white">Registrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 GameStorm. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
